@import url('footer.css');
@import url('main.css');
@import url('registration.css');
@import url('header.css');
@import url('product_page.css');
@import url('product-list.css');

.breadcrumb {
    background: transparent !important; 
    padding: 10px 0 !important;
    margin-bottom: 20px;
    font-size: 11px !important; 
    color: #c2c1c1 !important;
}

.breadcrumb ol {
    justify-content: flex-start !important;
    padding: 0;
    margin: 0;
    margin-left: 5vw;
}

.breadcrumb li a,
.breadcrumb li {
    color: #888 !important;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb li::after {
    color: #ccc !important;
    content: "/" !important;
    margin: 0 5px;
}